.form {
  margin: 50px;
  flex-basis: 900px;
  margin-right: auto;
  margin-left: auto;
}

.labelAndInputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formRow {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.btnDiv {
  margin-top: 2rem;
}